<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299204390084-f700kalcp1u2k7cr7ekar07tjqasa4k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299204390084-f700kalcp1u2k7cr7ekar07tjqasa4k8</string>
	<key>API_KEY</key>
	<string>AIzaSyBu5HiqfaIwYl_3DW_ls76ihWQfHPUGwp4</string>
	<key>GCM_SENDER_ID</key>
	<string>299204390084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamTeamdev.rglabs</string>
	<key>PROJECT_ID</key>
	<string>dreamteamdev-e74e7</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamteamdev-e74e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:597979515719:ios:eace1c21b93a9b8ee39a62</string>
	<key>DATABASE_URL</key>
	<string>https://dreamteamdev-e74e7.firebaseio.com</string>
</dict>
</plist>
